{
  "parserOptions": { "ecmaVersion": 2020 },
  "extends": ["prettier", "plugin:jest/all"],
  "rules": {
    "jest/prefer-expect-assertions": "off",
    "jest/require-top-level-describe": "off",
    "jest/no-truthy-falsy": "off",
    "jest/require-to-throw-message": "off"
  }
}
